* {
  font-family:Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  /* background-color: #006d77; */
}

h1 {
  text-align: center;
}

.container {
  margin: 25px;
}

span {
  color: red;
}

#container-input, #container-output {
  background-color: #83c5be;
  margin: 25px;
  border: 8px solid #e29578;
}

#container-input {
  font-size: 18px;
  padding: 30px;
  font-weight: bolder;
}

.form-input {
  margin: 12px;
  display: block;
  padding: 5px;
  width: 90%;
  font-size: 18px;
  font-weight: bold;
}

.btn {
  background-color: #e29578;
  padding: 15px;
  margin: 10px;
  border-radius: 14px;
  border-style: solid;
}

#container-output > th {
  font-size: 16px;
}

tr .h-name {
  width: 20%;
}

tr .h-email {
  width: 20%;
}

tr .h-grade {
  width: 10%;
}

tr .h-edit {
  width: 5%;
}

tr .h-delete {
  width: 5%;
}